/*ESTILISÃO DO CABEÇALHO*/
*{
    margin: 0 ;
    padding: 0;
}
body{
    background-color: #460f75;
    box-shadow:inset 0 0 30px 15px gold;
    border-radius: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    overflow: hidden;
    width: 100%;
}
@keyframes but {
    from{background-color: transparent;
    }
    to{ background-color: transparent;
        box-shadow: inset 0 0 20px 2px blue;
        cursor: pointer;    
    }
}
.menu:hover{
    animation: but;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    cursor: pointer;
}
.menu{
    border-radius: 10px;
    background-color: transparent;
    line-height:55px;
    font-size: 15px;
    padding:1px 6px;
    border: none;
}
.login:hover{
    animation: but;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    background-color: cornflowerblue;
}
.login{
    border-radius: 10px;
    color: black;
    line-height:55px;
    text-decoration: none;
    font-size: 15px;
    padding: 4px;
}


/*ESTILISAÇÃO DO CORPO DA PAGINA*/



section{
    display: flex;
}
.primeira.seção , .segunda.seção{
    padding: 10px;
    background-color: honeydew;
    border-radius: 10px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 4%;
    box-shadow: 0 0 20px gold;
}